{% extends "_base.html" %}
{% block css%}
{{ super() }}
 <link href="{{page.shared}}/fullcalendar/fullcalendar.css" rel="stylesheet" />
 <link href="{{page.shared}}/fullcalendar/fullcalendar.print.css" rel="stylesheet" />
{% endblock css %}

{% block pagetitle %}<title>Profile Edit</title>{% endblock pagetitle %}
{% block content %}
<h2>calendar</h2>
<div id='calendar'></div>
{% endblock content %}

{% block pagejs %}
{{ super() }}
    <script src="{{page.root}}/fullcalendar/fullcalendar.min.js"></script>
    <script src="{{page.root}}/fullcalendar/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript">

$(document).ready(function() {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // page is now ready, initialize the calendar...
    var calendar = $('#calendar').fullCalendar({
                selectable: true,
                editable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    console.log(start, end, allDay);
                    $.post("{{ url('dates_add')}}",
                        {start:start, end:end, target:"{{ target }}"},
                        function(data) {
                        console.log(data);
                        if (data.msg == "OK") {
                            var e = calendar.fullCalendar('renderEvent', {
                                    title: 'event-' + data.eventid,
                                    start: start,
                                    end: end,
                                    allDay: allDay,
                                    id: 'event-' + data.eventid,
                                },
                                true // make the event "stick"
                            );
                            console.log(e);
                            calendar.fullCalendar('unselect');
                        }
                        }
                    )
                },
                eventAfterRender: function( event, element, view ) {
                    element.popover({
                        title: "Delete Availability",
                        content: '<button class="btn btn-danger delete-button ' + event.id + '"><i class="icon-remove-sign icon-white"></i> | Delete ' + event.id + '</button',
                        placement: 'bottom',
                        html: true,
                        trigger: 'manual',
                        });
                  },
                   eventClick: function(calEvent, jsEvent, view) {
                        $('.fc-event').not(this).popover('hide');
                        $('.fc-event').each(function(index, obj) {
                                if ($(obj).prop("id") != $(this).prop("id")) {
                                    }
                                });
                        $(this).popover('show');
                    }


    }); //end calendar


    $('body').on('click', '.popover button', function (e) {
        // handle the delete button click, and delete corresponding cal event
        // see also: http://stackoverflow.com/questions/13205103/attach-event-handler-to-button-in-twitter-bootstrap-popover
            var eventid = $(this).attr('class').split(/\s+/).pop();
            console.log(eventid);
            $.post("{{ url('dates_delete')}}", {eventid:eventid},
                    function(data) {
                        if (data.msg == "OK") {
                            console.log('delete ok')
                            calendar.fullCalendar('removeEvents', eventid);
                            }
                        });


})
});
    </script>
{% endblock pagejs %}


