{% extends "_base.html" %}
{% block css%}
{{ super() }}
{{ form.media.css }}
 <link href="{{page.shared}}/css/flags.css" rel="stylesheet" />
{% endblock %}

{% block pagetitle %}<title>Bootcampes</title>{% endblock pagetitle %}
{% block content %}
<form action="" method="post">
    {{ csrf() }}

    {{ form }}
    <div class="well">
        <label>Location: <i>(you may enter city name, airport, or full address)</i></label>

        <img id="country-flag" src="{{page.shared}}/img/blank.gif"
        {% if profile.country %}
        class="flag flag-{{ profile.country_short }}" alt="{{ profile.country }}"
        {% endif %}
         />

        <input id="addresspicker_map" value="{{ profile.geodata.formatted_address }}" />
        <div style="width:300px;height:300px;margin-top:20px">
            <div id="map_canvas" style="width:100%; height:100%"></div>
            <div id="location" class=""></div>
        </div>
    </div>

    <input type="submit" value="Submit" />
</form>


{% endblock content %}

{% block pagejs %}
{{ super() }}
{{ form.media.js }}
<script type="text/javascript" charset="utf-8">
    // This script is inline for template expansion
    $(document).ready(function() {
        var addresspicker = $( "#addresspicker" ).addresspicker();
        var addresspickerMap = $( "#addresspicker_map" ).addresspicker(
        {
            regionBias: "de",
            map:      "#map_canvas",
            typeaheaddelay: 1000,
            mapOptions: {
                zoom:16,
                center: new google.maps.LatLng(
                    {{ profile.lat|default('43.6481', true) }},
                    {{ profile.long|default('-79.4042', true) }}
                    )
            }

        });

        addresspickerMap.on("addressChanged", function(evt, address) {
            // add the lat long to the JS obj - because the mapping names
            // are minimized, and the JS class has special methods
            address.lat_val = address.geometry.location.lat();
            address.long_val = address.geometry.location.lng();
            $('#id_new_geo').val($.toJSON(address));
            // extract the country and update flag graphic
            var countryCode;
            $.each(address.address_components, function(index, value){
                if (value.types.indexOf('country') >= 0) {
                    countryCode = value.short_name.toLowerCase();
                }
                });
            $('#country-flag').attr('class', 'flag flag-' + countryCode);

        });
        addresspickerMap.on("positionChanged", function(evt, markerPosition) {
            markerPosition.getAddress( function(address) {
                if (address) {
                    $( "#addresspicker_map").val(address.formatted_address);
                }
            })
        });
    });
</script>
{% endblock %}
